# IDEA Ignores
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
target/
.idea/
bin/org/springframework/social/dropbox/api/Dropbox.class

bin/org/springframework/social/dropbox/api/DropboxFile.class

bin/org/springframework/social/dropbox/api/DropboxUserProfile.class

bin/org/springframework/social/dropbox/api/FileUrl.class

bin/org/springframework/social/dropbox/api/Metadata.class

bin/org/springframework/social/dropbox/api/impl/AbstractDropboxApiTest.class

bin/org/springframework/social/dropbox/api/impl/DropboxModule.class

bin/org/springframework/social/dropbox/api/impl/DropboxTemplate.class

bin/org/springframework/social/dropbox/api/impl/DropboxTemplateTest.class

bin/org/springframework/social/dropbox/api/impl/DropboxUserProfileMixin$DropboxUserProfileDeserializer.class

bin/org/springframework/social/dropbox/api/impl/DropboxUserProfileMixin.class

bin/org/springframework/social/dropbox/api/impl/FileUrlMixin.class

bin/org/springframework/social/dropbox/api/impl/MetadataMixin.class

bin/org/springframework/social/dropbox/connect/DropboxAdapter.class

bin/org/springframework/social/dropbox/connect/DropboxAdapterTest.class

bin/org/springframework/social/dropbox/connect/DropboxConnectionFactory.class

bin/org/springframework/social/dropbox/connect/DropboxServiceProvider.class
